$red: #C0392B;
$purple: #674172;
$blue: #2574A9;
$turquoise: #53a1a3;
$green: #34495E;
$yellow: #F5D76E;
$orange: #EB9532;


@import "bulma.sass";

.center-title {
    top: 50%;
    position: relative;
}

#posts a {
    text-decoration: underline;
}

#posts a:link {
    color: $blue;
}

#posts a:visited {
    color: $purple;
}
